@tailwind base;
@tailwind components;
@tailwind utilities;

section {
  max-width: 1280px;
  margin: auto;
  min-height: 90vh;
  padding: 10px;
}
@keyframes blink {
  0%,
  100% {
    background-color: #000000;
    color: white;
  }
  50% {
    background-color: #ff0000;
    color: white;
  }
}

.blink {
  animation: blink 1.2s infinite;
}
html,
body {
  overflow-x: hidden;
}
.slick-prev,
.slick-next {
  @apply absolute top-1/2 transform -translate-y-1/2 z-10 text-3xl bg-gray-100 dark:bg-gray-800 rounded-full h-10 w-10 flex items-center justify-center cursor-pointer;
}

.slick-prev {
  @apply left-0 ml-2;
}

.slick-next {
  @apply right-0 mr-2;
}

.slick-prev:hover,
.slick-next:hover {
  @apply bg-opacity-100;
}

.slick-prev::before,
.slick-next::before {
  @apply text-black dark:text-white;
  content: "";
}
