@tailwind base;
@tailwind components;
@tailwind utilities;

section {
  max-width: 1280px;
  margin: auto;
  min-height: 90vh;
  padding: 10px;
}
@keyframes blink {
  0%,
  100% {
    background-color: #000000;
    color: white;
  }
  50% {
    background-color: #ff0000;
    color: white;
  }
}

.blink {
  animation: blink 1.2s infinite;
}
html,
body {
  overflow-x: hidden;
}
@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.final-text {
  animation: fadeInOut 2s infinite;
  font-size: 2rem;
  color: rgb(158, 218, 16); /* You can change this to any color you prefer */
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}
