@tailwind base;
@tailwind components;
@tailwind utilities;

section {
  max-width: 1280px;
  margin: auto;
  min-height: 90vh;
  padding: 10px;
}
@keyframes blink {
  0%,
  100% {
    background-color: #000000;
    color: white;
  }
  50% {
    background-color: #ff0000;
    color: white;
  }
}

.blink {
  animation: blink 1.2s infinite;
}
html,
body {
  overflow-x: hidden;
}
.slick-prev,
.slick-next {
  @apply absolute top-1/2 transform -translate-y-1/2 z-10 text-3xl bg-gray-100 dark:bg-gray-800 rounded-full h-10 w-10 flex items-center justify-center cursor-pointer;
}

.slick-prev {
  @apply left-0 ml-2;
}

.slick-next {
  @apply right-0 mr-2;
}

.slick-prev:hover,
.slick-next:hover {
  @apply bg-opacity-100;
}

.slick-prev::before,
.slick-next::before {
  @apply text-black dark:text-white;
  content: "";
}

/* From Uiverse.io by alexruix */
/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  --background: #28096b;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background);
  transition: 0.4s;
  border-radius: 34px;
}

/* The circle on the slider */
.slider::before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  left: 0.3em;
  bottom: 0.3em;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

/* Toggle when checked */
input:checked + .slider {
  background-color: #3ed676;
}

input:checked + .slider::before {
  transform: translateX(1.4em);
}
